<h1>Create Movie</h1>

<form #form="ngForm" (ngSubmit)="createMovie(form)">
  <div class="mb-3">
    <label for="title">Title</label>
    <input type="text" [(ngModel)]="model.title" name="title" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" [(ngModel)]="model.description" name="description" id="description" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="imageUrl">Image Url</label>
    <input type="text" [(ngModel)]="model.imageUrl" name="imageUrl" class="form-control" id="Image Url" placeholder="Image Url">
  </div>
  <div class="mb-3">
    <label for="categoryId">Category</label>
    <select class="form-select" [(ngModel)]="model.categoryId" name="categoryId">
      <option value="-1">Select Category</option>
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary">Create Movie</button>
</form>
