<h1>Create Movie</h1>

<form>
  <div class="mb-3">
    <label for="title">Title</label>
    <input #title type="text" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea #description class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="imageUrl">Image Url</label>
    <input #imageUrl type="text" class="form-control" id="Image Url" placeholder="Image Url">
  </div>
  <div class="mb-3">
    <label for="categoryId">Category</label>
    <select #categoryId class="form-select">
      <option value="-1">Select Category</option>
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="createMovie(title, description, imageUrl, categoryId)">Create Movie</button>
</form>
