<div class="mb-3">
  <h2>Please login</h2>
</div>

<form class="col-7" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input ngModel type="email" email class="form-control" id="email" name="email" placeholder="e-mail" required />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input ngModel minlength="6" type="password" class="form-control" name="password" placeholder="password" required />
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">{{ isLoggedIn ? 'Sign in' : 'Sign up' }}</button>
  <button class="btn btn-primary ms-2" type="button" (click)="onToggleMode()">Toggle {{isLoggedIn ? 'Sign up' : 'Sign in'}}</button> 
</form>
{% comment %} AIzaSyDHokh6I9jVIIlKK10b1Cqq2jNakz4JLqs {% endcomment %}